@{
    Layout = Layout;
}

<div class="text-center card card-title">
    <h2>Feel free to reach out with any questions or feedback!</h2><br />
    <h4><strong>Email:</strong> support@catsandplants.com</h4>
    <h4><strong>Phone:</strong> 111-111-1112 </h4>
</div>