@{
    Layout = Layout;
}

<div class="gallery">
    <a target="_blank" href="https://i.imgur.com/l8W3klTl.png">
        <img src="https://i.imgur.com/l8W3klTl.png" alt="Cats and plants logo">
    </a>
    <div class="desc">My niece actually drew my CatsAndPlants Logo!</div>
</div>

<div class="gallery">
    <a target="_blank" href="https://i.imgur.com/hvFxSxpl.jpg">
        <img src="https://i.imgur.com/hvFxSxpl.jpg" alt="Large Vivarium">
    </a>
    <div class="desc">My first Vivarium build!</div>
</div>

<div class="gallery">
    <a target="_blank" href="https://i.imgur.com/rpJUKWfl.jpg">
        <img src="https://i.imgur.com/rpJUKWfl.jpg" alt="Mood Moss">
    </a>
    <div class="desc">Mood moss</div>
</div>

<div class="gallery">
    <a target="_blank" href="https://i.imgur.com/2iE4Jail.jpg">
        <img src="https://i.imgur.com/2iE4Jail.jpg" alt="Pillow Moss">
    </a>
    <div class="desc">Pillow Moss</div>
</div>

<div class="gallery">
    <a target="_blank" href="https://i.imgur.com/zSdT9XOl.jpg">
        <img src="https://i.imgur.com/zSdT9XOl.jpg" alt="Pinguicula Moranensis">
    </a>
    <div class="desc">Pinguicula Moranensis</div>
</div>