@{
    Layout = Layout;
}

<img id="slideshow" src="https://i.imgur.com/hvFxSxp.jpg" alt="Vivarium Image" />
<br />
<div id="picChoice">
    <form method="post">
        <input type="radio" name="picture" id="1" />
        <input type="radio" name="picture" id="2" checked="checked" />
        <input type="radio" name="picture" id="3" />
    </form>
</div>